@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --violet: hsl(263, 55%, 52%);
  --dark-grayish-blue: 217, 19%, 35%;
  --dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --barlow: "Barlow Semi Condensed", sans-serif;
  --text-sm: 0.6875rem;
  --text-md: 0.8125rem;
  --text-lg: 1.25rem;
  --font-medium: 400;
  --font-semi-bold: 500;
}

h1,
h2,
h3,
h4,
p {
  font-weight: var(--font-medium);
  font-family: var(--barlow);
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  background-color: var(--light-grayish-blue);
}

.grid-container {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "card-1"
    "card-2"
    "card-3"
    "card-4"
    "card-5";

  padding-block: 2rem;
  margin-inline: auto;
  width: min(95%, 70rem);
}

@media screen and (min-width: 70em) {
  .grid-container {
    grid-template-areas:
      "card-1 card-1 card-2 card-5"
      "card-3 card-4 card-4 card-5";
  }
}

.testimonial-card {
  padding: 2rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsla(217, 19%, 35%, 0.315);
  border-radius: 0.5rem;
  color: var(--white);

  .flex {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  img {
    border-radius: 50%;
    width: 2.2rem;
  }

  h2 {
    font-size: var(--text-md);
    font-weight: var(--font-medium);
  }

  .position {
    font-size: var(--text-sm);
    opacity: 0.5;
  }

  > p:first-of-type {
    font-size: var(--text-lg);
    font-weight: var(--font-semi-bold);
    line-height: 1.2;
  }

  > p:last-of-type {
    opacity: 0.6;
    font-size: var(--text-md);
  }

  > *:where(:not(:first-child)) {
    margin-top: 1em;
  }

  &:nth-child(1) {
    grid-area: card-1;

    background-color: var(--violet);

    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 10%;

    img {
      border: 3px solid hsla(0, 0%, 100%, 0.25);
    }
  }

  &:nth-child(2) {
    grid-area: card-2;

    background-color: hsl(var(--dark-grayish-blue));
  }

  &:nth-child(3) {
    grid-area: card-3;

    color: var(--dark-grayish-blue);
    background-color: var(--white);
  }

  &:nth-child(4) {
    grid-area: card-4;

    background-color: var(--dark-blackish-blue);

    img {
      border: 3px solid var(--violet);
    }
  }

  &:nth-child(5) {
    grid-area: card-5;

    color: var(--dark-grayish-blue);
    background-color: var(--white);
  }
}
